In [ ]:
"I am not familiar with Python"

'I am not familiar with Python'

In [ ]:
"swapnamoy dutta"
"Bredesen center for interdisciplinary research and graduate education (ESE)"

'Bredesen center for interdisciplinary research and graduate education (ESE)'

#Chapter 1

Excercise 1

In [ ]:
(100 - 5 ** 3) / 5

-5.0

In [ ]:
6 + 15 % 4

9

In [ ]:
2 ** 2 + 24 // 4

10

In [ ]:
2 ** 2 + 24 // 4

10

Excercise 2

In [ ]:
type(6)

int

In [ ]:
type(6.0)

float

In [ ]:
5 + 3.14

8.14

In [ ]:
int(7.999999999)

7

In [ ]:
float(6)

6.0

Excercise 3

In [ ]:
x = 2
x + 1

3

In [ ]:
x

2

In [ ]:
x = 3.0
x = x + 1
x

4.0

In [ ]:
#Activity 1

In [ ]:
x = 14
x += 1
(x/5) ** 2

9.0

Excercise 4

In [ ]:
1st_number = 1
first_number = 1
my_$ = 1000.00
my_money = 1000.00

SyntaxError: invalid decimal literal (<ipython-input-15-bd57b7506e16>, line 1)

Excercise 5

In [ ]:
x = 5
y = 2
x + x - y ** 2

6

In [ ]:
x, y = 8, 5
x // y

1

Excercise 6

In [ ]:
# This is a comment
# Set the variable pi equal to 3.14
pi = 3.14

In [ ]:
bookstore = 'City Lights'
bookstore = 'City Lights"

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-19-64068d6cc1ae>, line 2)

In [ ]:
bookstore = "Moe's"

In [ ]:
bookstore = 'Moe's'

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-21-0ef68cccb92b>, line 1)

In [ ]:

bookstore = 'Moe\'s'

Excercise 7 & 8

In [ ]:

greeting = 'Hello'
print(greeting)

Hello

In [ ]:
greeting

'Hello'

In [ ]:
spanish_greeting = 'Hola.'

In [ ]:
spanish_greeting

'Hola.'

In [ ]:
arabic_greeting = 'Ahlan wa sahlan.'

In [ ]:
print(arabic_greeting)

Ahlan wa sahlan.

Excercise 9

In [ ]:
spanish_greeting = 'Hola'

In [ ]:
print(spanish_greeting + 'Senor.')

HolaSenor.

In [ ]:
spanish_greeting = 'Hola '

In [ ]:
print(spanish_greeting + ' Senor.')

Hola  Senor.

In [ ]:
greeting = 'Hello'
print(greeting * 5)

HelloHelloHelloHelloHello

In [ ]:
name = 'Josephine'
name.lower()

'josephine'

In [ ]:
name.capitalize()

'Josephine'

In [ ]:
name.upper()

'JOSEPHINE'

In [ ]:
name.count('e')

2

Excercise 10,11,12 and 13

In [ ]:
type('5')
'5' + '7'

'57'

In [ ]:
int('5') + int('7')

12

In [ ]:
name = input('What is your name?')

What is your name?axel

In [ ]:
print(f'Hello, {name}.')

In [ ]:
destination = 'San Francisco'
destination[0]

In [ ]:
destination[-1]

In [ ]:
destination[-2]

In [ ]:
bridge = 'Golden Gate'
bridge[6]

In [ ]:
over_18 = True
type(over_18)

In [ ]:
over_18, over_21 = True, False

In [ ]:
over_18 and over_21

In [ ]:
not over_18

In [ ]:
not over_21 or (over_21 or over_18)

Exercise 14

In [ ]:
income = 80000
income < 75000

False

In [ ]:
income >= 80000 and income <= 100000

True

In [ ]:
income != 100000

True

In [ ]:
6 == 6.0

True

In [ ]:
age=29

In [ ]:
(20 <= age < 30) or (30 <= age < 40)

True

Exercise 15

In [ ]:
'a' < 'c'

True

In [ ]:
'New York' > 'San Francisco'

False

Exercise 16, 17 and 20

In [ ]:
age = 20
if age >= 18 and age < 21:
     print('At least you can vote.')

At least you can vote.

In [ ]:
print('US Poker will have to wait.')

US Poker will have to wait.

In [81]:
if age >= 18:
    print('You can vote.')
    if age >= 21:
        print('You can play poker.')

You can vote.

In [82]:
age = 20
if age < 18:
    print('You aren\'t old enough to vote.')
else:
    print('Welcome to our voting program.')

Welcome to our voting program.

In [83]:
if age >= 18:
    print('Welcome to our voting program.')
else:
    print('You aren\'t old enough to vote.')

Welcome to our voting program.

In [84]:
print('Enter a number to see if it\'s a perfect square.')

Enter a number to see if it's a perfect square.

In [87]:
number = input()

9

In [88]:
number = abs(int(number))

In [89]:
i = -1

In [90]:
square = False

In [92]:
while number >= 0 and number%1 ==0 and i <= number**(0.5) :
    i += 1
    if i*i == number:
        square = True
        break
if square:
    print('The square root of', number, 'is', i, '.')
else:
    print('', number, 'is not a perfect square.')

The square root of 9 is 3 .

In [94]:
print('A one bedroom in the Bay Area is listed at $599,000')
print('Enter your first offer on the house.')
offer = abs(int(input()))
print('Enter your best offer on the house.')
best = abs(int(input()))
print('How much more do you want to offer each time?')
increment = abs(int(input()))
offer_accepted = False
while offer <= best:
    if offer >= 650000:
        offer_accepted = True
        print('Your offer of', offer, 'has been accepted!')
        break
    print('We\'re sorry, you\'re offer of', offer, 'has not been accepted.' )
    offer += increment

A one bedroom in the Bay Area is listed at $599,000
Enter your first offer on the house.
600000
Enter your best offer on the house.
650001
How much more do you want to offer each time?
10990
We're sorry, you're offer of 600000 has not been accepted.
We're sorry, you're offer of 610990 has not been accepted.
We're sorry, you're offer of 621980 has not been accepted.
We're sorry, you're offer of 632970 has not been accepted.
We're sorry, you're offer of 643960 has not been accepted.

In [95]:
for i in 'Portland':
    print(i)

P
o
r
t
l
a
n
d

In [96]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [97]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [98]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [99]:
for i in range(3, 0, -1):
    print(i)

3
2
1

In [100]:
name = 'Corey'
for j in range(3):
    for i in name:
        print(i)

C
o
r
e
y
C
o
r
e
y
C
o
r
e
y

In [101]:
#Activity 1

In [103]:
x = 14
x += 1
(x/5) ** 2

9.0

In [112]:
#Activity 2

In [113]:
# Initialize variables
x, y, z = 2, 3, 4

In [114]:
# Pythagorean Theorem in 3 dimensions
w_squared = x**2 + y**2 + z**2

In [115]:
# The square root gives the distance
w = w_squared ** 0.5

In [116]:
#Show the distance
w

5.385164807134504

In [117]:
#Activity 2

In [118]:
# Choose a question to ask
print('How would you rate your day on a scale of 1 to 10?')

How would you rate your day on a scale of 1 to 10?

In [119]:
# Set a variable equal to input()
day_rating = input()

64

In [120]:
# Select an appropriate output.
print('You feel like a ' + day_rating + ' today. Thanks for letting me know')

You feel like a 64 today. Thanks for letting me know

In [121]:
#Activity 4

In [123]:
# Find the Least Common Multiple of Two Divisors
counting = True
first_divisor = 24
second_divisor = 36
i = 1
while counting:
    if i % first_divisor == 0 and i % second_divisor == 0:
        print('The Least Common Multiple of', first_divisor, 'and', second_divisor, 'is', i, '.')
        break
    i += 1

The Least Common Multiple of 24 and 36 is 72 .

In [124]:
# Activity 5

In [125]:
print('What is your name?')

What is your name?

In [126]:
name = input()
print('Fascinating.', name, 'is my name too.')

SAM
Fascinating. SAM is my name too.

In [127]:
print('Have you thought about black holes today?')

Have you thought about black holes today?

In [129]:
yes_no = input()
print('I am so glad you said', yes_no, '. I was thinking the same thing.')

NO
I am so glad you said NO . I was thinking the same thing.

In [130]:
print('We\'re kindred spirits,', name, '. Talk later.')

We're kindred spirits, SAM . Talk later.

In [131]:
print('How intelligent are you? 0 is very dumb. And 10 is a genius')
smarts = input()
smarts = int(smarts)
if smarts <= 3:
   print('I don\'t believe you.')
   print('How bad of a day are you having? 0 is the worst, and 10 is the best.')
   day = input()
   day = int(day)
   if day <= 5:
       print('If I was human, I would give you a hug.')
   else:
       print('Maybe I should try your approach.')
elif smarts <= 6:
   print('I think you\'re actually smarter.')
   print('How much time do you spend online? 0 is none and 10 is 24 hours a day.')
   hours = input()
   hours = int(hours)
   if hours <= 4:
       print('That\'s the problem.')
   else:
      print('And I thought it was only me.')
elif smarts <= 8:
   print('Are you human by chance? Wait. Don\'t answer that.')
   print('How human are you? 0 is not at all and 10 is human all the way.')
   human = input()
   human = int(human)
   if human <= 5:
       print('I knew it.')
   else:
       print('I think this courtship is over.')
else:
   print('I see... How many operating systems do you run?')
   os = input()
   os = int(os)
   if os <= 2:
      print('Good thing you\'re taking this course.')
   else:
      print('What is this? A competition?')

How intelligent are you? 0 is very dumb. And 10 is a genius
9
I see... How many operating systems do you run?
7
What is this? A competition?

#Chapter 2

In [134]:
#Activity 6

In [135]:
employees = [['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
print(employees)

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]

In [136]:
for employee in employees:
    print(employee)

['John Mckee', 38, 'Sales']
['Lisa Crawford', 29, 'Marketing']
['Sujan Patel', 33, 'HR']

In [137]:
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department:", employee[2])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [138]:
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department:", employee[2])
print('-' * 20)

['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------

In [142]:
#Activity 7

In [139]:
employees = [
    {"name": "John Mckee", "age":38, "department":"Sales"},
    {"name": "Lisa Crawford", "age":29, "department":"Marketing"},
    {"name": "Sujan Patel", "age":33, "department":"HR"}
]

print(employees)

[{'name': 'John Mckee', 'age': 38, 'department': 'Sales'}, {'name': 'Lisa Crawford', 'age': 29, 'department': 'Marketing'}, {'name': 'Sujan Patel', 'age': 33, 'department': 'HR'}]

In [140]:
for employee in employees:
    print("Name:", employee['name'])
    print("Age:", employee['age'])
    print("Department:", employee['department'])
    print('-' * 20)

Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [141]:
for employee in employees:
    if employee['name'] == 'Sujan Patel':
        print("Name:", employee['name'])
        print("Age:", employee['age'])
        print("Department:", employee['department'])
        print('-' * 20)

Name: Sujan Patel
Age: 33
Department: HR
--------------------

In [147]:
#Excercise 21 to 32

In [143]:
shopping = ["bread", "milk", "eggs"]
print(shopping)

['bread', 'milk', 'eggs']

In [144]:
for item in shopping:
    print(item)

bread
milk
eggs

In [145]:
mixed = [365, "days", True]
print(mixed)

[365, 'days', True]

In [148]:
print(mixed[0])

365

In [149]:

print(mixed[0:3])

[365, 'days', True]

In [150]:
m = [[1, 2, 3], [4, 5, 6]]

In [151]:
print(m[1][1])

5

In [152]:
for i in range(len(m)):
    for j in range(len(m[i])):
        print(m[i][j])

1
2
3
4
5
6

In [153]:
for row in m:
    for col in row:
        print(col)

1
2
3
4
5
6

In [154]:
X = [[1,2,3],[4,5,6],[7,8,9]]
Y = [[10,11,12],[13,14,15],[16,17,18]]

In [155]:
# Initialize a result placeholder
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]

In [156]:
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] + Y[i][j]

print(result)

[[11, 13, 15], [17, 19, 21], [23, 25, 27]]

In [157]:
X = [[10,11,12],[13,14,15],[16,17,18]]
Y = [[1,2,3],[4,5,6],[7,8,9]]

In [158]:
# Initialize a result placeholder
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]

In [159]:
# iterate through rows
for i in range(len(X)):
# iterate through columns
    for j in range(len(X[0])):
        result[i][j] = X[i][j] - Y[i][j]

print(result)

[[9, 9, 9], [9, 9, 9], [9, 9, 9]]

In [160]:
X = [[1, 2], [4, 5], [3, 6]]
Y = [[1,2,3,4],[5,6,7,8]]

In [161]:
result = [[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [162]:
# iterating by row of X
for i in range(len(X)):

    # iterating by coloum by Y
    for j in range(len(Y[0])):

        # iterating by rows of Y
        for k in range(len(Y)):
            result[i][j] += X[i][k] * Y[k][j]

In [163]:
for r in result:
    print(r)

[11, 14, 17, 20]
[29, 38, 47, 56]
[33, 42, 51, 60]

In [164]:
shopping = ["bread","milk", "eggs"]
print(len(shopping))

3

In [165]:
list1 = [1,2,3]
list2 = [4,5,6]
final_list = list1 + list2
print(final_list)

[1, 2, 3, 4, 5, 6]

In [166]:
list3 = ['oi']
print(list3*3)

['oi', 'oi', 'oi']

In [167]:
shopping = ["bread","milk", "eggs"]
print(shopping[1])

milk

In [168]:
shopping[1] = "banana"
print(shopping)

['bread', 'banana', 'eggs']

In [169]:
print(shopping[-1])

eggs

In [170]:
print(shopping[0:2])

['bread', 'banana']

In [171]:
print(shopping[:3])

['bread', 'banana', 'eggs']

In [172]:
print(shopping[1:])

['banana', 'eggs']

In [173]:
shopping = ["bread","milk", "eggs"]
shopping.append("apple")
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [174]:
shopping = []
shopping.append('bread')
shopping.append('milk')
shopping.append('eggs')
shopping.append('apple')
print(shopping)

['bread', 'milk', 'eggs', 'apple']

In [175]:
shopping.insert(2, 'ham')
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple']

In [176]:
new_shopping = ['coffee', 'orange']
shopping.extend(new_shopping)
print(shopping)

['bread', 'milk', 'ham', 'eggs', 'apple', 'coffee', 'orange']

In [177]:
shopping.remove('ham')
print(shopping)

['bread', 'milk', 'eggs', 'apple', 'coffee', 'orange']

In [178]:
shopping.pop(2)
print(shopping)

['bread', 'milk', 'apple', 'coffee', 'orange']

In [179]:
shopping.sort()
print(shopping)

['apple', 'bread', 'coffee', 'milk', 'orange']

In [180]:
shopping.sort(reverse = True)
print(shopping)

['orange', 'milk', 'coffee', 'bread', 'apple']

In [181]:
shopping.index('coffee')

2

In [182]:
movie = {
    "title": "The Godfather",
    "director": "Francis Ford Coppola",
    "year": 1972,
    "rating": 9.2
}

In [183]:
print(movie['year'])

1972

In [184]:
movie['rating'] = (movie['rating'] + 9.3)/2
print(movie['rating'])

9.25

In [185]:
movie = {}
movie['title'] = "The Godfather"
movie['director'] = "Francis Ford Coppola"
movie['year'] = 1972
movie['rating'] = 9.2

In [186]:
movie['actors'] = ['Marlon Brando', 'Al Pacino', 'James Caan']
movie['other_details'] = {
    'runtime': 175,
    'language': 'English'
}
print(movie )

{'title': 'The Godfather', 'director': 'Francis Ford Coppola', 'year': 1972, 'rating': 9.2, 'actors': ['Marlon Brando', 'Al Pacino', 'James Caan'], 'other_details': {'runtime': 175, 'language': 'English'}}

In [187]:
items = ['apple', 'orange', 'banana']
quantity = [5,3,2]

In [188]:
orders = zip(items,quantity)
print(orders)

<zip object at 0x7a70db27a4c0>

In [189]:
orders = zip(items,quantity)
print(list(orders))

[('apple', 5), ('orange', 3), ('banana', 2)]

In [190]:
orders = zip(items,quantity)
print(tuple(orders))

(('apple', 5), ('orange', 3), ('banana', 2))

In [191]:
orders = zip(items,quantity)
print(dict(orders))

{'apple': 5, 'orange': 3, 'banana': 2}

In [192]:
orders = {'apple':5, 'orange':3, 'banana':2}
print(orders.values())
print(list(orders.values()))

dict_values([5, 3, 2])
[5, 3, 2]

In [193]:
print(list(orders.keys()))

['apple', 'orange', 'banana']

In [194]:
for tuple in list(orders.items()):
    print(tuple)

('apple', 5)
('orange', 3)
('banana', 2)

In [195]:
t = ('bread', 'milk', 'eggs')
print(len(t))

3

In [196]:

t.append('apple')

AttributeError: 'tuple' object has no attribute 'append'

In [197]:
t[2] = 'apple'

TypeError: 'tuple' object does not support item assignment

In [198]:
print(t + ('apple','orange'))
print(t)

('bread', 'milk', 'eggs', 'apple', 'orange')
('bread', 'milk', 'eggs')

In [199]:
t_mixed = 'apple', True, 3
print(t_mixed)

t_shopping = ('apple',3), ('orange',2), ('banana',5)
print(t_shopping)

('apple', True, 3)
(('apple', 3), ('orange', 2), ('banana', 5))

In [200]:
s1 = set([1,2,3,4,5,6])
print(s1)
s2 = set([1,2,2,3,4,4,5,6,6])
print(s2)
s3 = set([3,4,5,6,6,6,1,1,2])
print(s3)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [201]:
s4 = {"apple", "orange", "banana"}
print(s4)

{'apple', 'orange', 'banana'}

In [202]:
s4.add('pineapple')
print(s4)

{'apple', 'orange', 'banana', 'pineapple'}

In [203]:
s5 = {1,2,3,4}
s6 = {3,4,5,6}

In [204]:
print(s5 | s6)
print(s5.union(s6))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [205]:
print(s5 & s6)
print(s5.intersection(s6))

{3, 4}
{3, 4}

In [206]:
print(s5 - s6)
print(s5.difference(s6))

{1, 2}
{1, 2}

In [207]:
print(s5 <= s6)
print(s5.issubset(s6))

s7 = {1,2,3}
s8 = {1,2,3,4,5}

print(s7 <= s8)
print(s7.issubset(s8))

False
False
True
True

In [208]:
print(s7 < s8)

s9 = {1,2,3}
s10 = {1,2,3}

print(s9 < s10)
print(s9 < s9)

True
False
False

In [209]:
print(s8 >= s7)
print(s8.issuperset(s7))
print(s8 > s7)
print(s8 > s8)

True
True
True
False